.distribution-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .top-panel {
    background: url(../img/distblue.jpg);
    padding: 55px 0 58px;
        
    &__title {
      &--img {
        position: relative;
        display: inline-block;
        top: -9px;
        left: 17px;
        @media screen and (max-width: 768px) {
          top: 3px;
        }
         > div:first-child {
          background: url(../img/animation/botl/mass-production-1.svg) ;
          background-repeat: repeat-x;
          // background-size: cover;
          width: 74px;
          height: 58px;
          position: absolute;
          animation: 5s bgAnim linear infinite;
          background-position: 0 0;
          top: -41px;
          left: 7px;
          @media screen and (max-width: 768px) {
            width: 50px;
            height: 38px;
            left: 3px;
            animation: 5s bgAnimMob linear infinite;
          }
         }
         > div:last-child {
          background: url(../img/animation/botl/mass-production.svg);
          // background-size: cover;
          width: 90px;
          height: 58px;
          position: absolute;
          background-position: 0 0;
          top: 10px;
          @media screen and (max-width: 768px) {
            width: 59px;
            height: 38px;
            top: -7px;
          }
         }
      }
    }
  }
  .bottom-panel {
    margin-top: 0;
  }

  .map {
    width: 100%;
    display: flex;
    background: #f4f4fd;
    flex-wrap: wrap;
    &__image {
      width: calc(66% + 5px);
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 1280px) {
        width: 100%;
      }

      &--export {
        @media all and (-ms-high-contrast:none){
          height: 0;
          padding-top: 50%;
        }

        svg {
          @media all and (-ms-high-contrast:none){
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      
      &:before {
        content: '';
        width: 100%;
        position: absolute;
        height: 100px;
        left: 0;
        bottom: 0;
        background: rgba(248,80,50,0);
        background: -moz-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(244,244,253,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0)), color-stop(100%, rgba(244,244,253,1)));
        background: -webkit-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(244,244,253,1) 100%);
        background: -o-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(244,244,253,1) 100%);
        background: -ms-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(244,244,253,1) 100%);
        background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(244,244,253,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f4f4fd', GradientType=0 );
      }
      &:after {
        content: '';
        height: 100%;
        position: absolute;
        width: 100px;
        right: 0;
        top: 0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(42%, rgba(250,250,254,0)), color-stop(99%, rgba(244,244,253,0.98)), color-stop(100%, rgba(244,244,253,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4fd', GradientType=1 );
      }
      img, svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // height: 873px;
        display: block;
        z-index: 1;
      }
      svg {
       
        rect {
          fill: #2d2a6a;
        }
        text {
          // color: #fff;
          fill: #fff;
          font: 600 13px "Raleway regular", sans-serif; 
        }
        @keyframes dash {
          from {
            stroke-dashoffset: 320;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

        .path {
          animation: dash 30s linear infinite;
          stroke-dasharray: 320;
          stroke-dashoffset: 0;
          stroke-width: 2; stroke-dasharray: 3, 8; stroke-linecap: round;
        }
      }
    }
    &__info {
      // width: calc(34% - 5px);
      // // min-width: 635px;
      // display: flex;
      // align-content: center;
      // flex-wrap: wrap;
      // padding-bottom: 30px;
      width: calc(34% - 5px);
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      /* padding-bottom: 30px; */
      padding-top: 7%;

      @media screen and (max-width: 1280px) {
        width: 100%;
        padding: 40px;
        text-align: center;
      }
      @media screen and (max-width: 768px) {
        padding: 20px;
      }
      &-buttons {
        width: 100%;
        a {
          display: inline-block;
          @media screen and (max-width: 1440px) {
            display: block;
          }
          @media screen and (max-width: 768px) {
            display: block;
            margin: 10px 0;
          }
          &:first-child .btn{
            width: 250px;
            margin-bottom: 10px;
            @media screen and (max-width: 768px) {
              font-size: 16px;
              padding: 15px;
            }
          }
          &:last-child .btn{
            width: 200px;
             @media screen and (max-width: 1440px) {
              width: 250px;
             }
            @media screen and (max-width: 768px) {
              font-size: 16px;    
              width: 250px;
              padding: 15px;
            }
          }
        }
        .btn {
          margin-right: 7px;

        }
      }
      &-title {
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        margin-top: 58px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
         & ~ .map__info-title{
           margin-top: 51px;
         }
      }
      &-text {
        width: 100%;
        max-width: 420px;
        line-height: 1.5em;
        @media screen and (max-width: 1280px) {
          max-width: 100%; 
        }
      }
      ul {
        width: 100%;
        margin-top: 2px;
        @media screen and (max-width: 1280px) {
          width: 400px;
          margin: auto;
          text-align: left;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        li {
          position: relative;
          margin-bottom: 24px;
          display: flex;
          align-items: flex-start;
          width: 400px;
          line-height: 1.5em;
          @media screen and (max-width: 1280px) {
            width: 100%;
          }
          &:before {
            content: '';
            background: #2c256b;
            width: 11px;
            height: 11px;
            min-width: 11px;
            margin-right: 20px;
            margin-top: 5px;
            display: block;
          }
        }
      }
    }
  }
  .text-block {
    background: #2d2a6a;
    width: 100%;
    color: #bcbbcb;
    padding: 57px 0 50px 0;
    line-height: 1.5em;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 35px 0 30px 0;
    }
  }
}


@keyframes bgAnim {
  0% {

    background-position: 0 0;
  }

  100% {
  
    background-position: 74px 0;
  }
}


@keyframes bgAnimMob {
  0% {

    background-position: 0 0;
  }

  100% {
  
    background-position: 50px 0;
  }
}


