footer {
    border-top: 1px solid #e2e5ed;
    position: relative;
    height: 215px;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        // display: none;
    }
    .navigation {
        margin-right: -23px;
        margin-top: -32px;
        ul {
            li {
                margin: 0 3px;
                &:last-child {
                    a {

                    }
                }
                a {
                    padding: 7px 20px 9px;
                    font-size: 18px;
                }
            }
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
        padding: 0;
        & > div:first-child {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        & > div:nth-child(2) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
          margin-top: 10px;
        }
        & > div:last-child {


        }
    }
    .designed {
        color: #3b3b3b;
        a {
            text-decoration: underline;
        }
    }

    .copyright {
        color: #3b3b3b;
        font-size: 16px;
    }
    .policy {
        text-decoration: underline;
        color: #3b3b3b;
        margin-left: -75px;
    }
}