.o-prostude-page {
    main {
        padding-bottom: 54px;

        .title {
            margin-top: 26px;
        }


        .top-block {
            display: flex;
            flex-wrap: wrap;
            margin-top: 58px;
            align-items: flex-start;

            img {
                margin-right: 20px;
                // float: left;
                width: calc(50% - 11px);
            }

            &>div {
                width: 45%;
            }

            p {
                margin-top: -10px;

                line-height: 2em;
                font-size: 14px;

                &+p {
                    margin-top: 22px;
                }
            }
        }


        .text-block {
            width: 100%;
            border: 10px solid #f3f3f3;
            padding: 36px 18px 36px 39px;
            margin-top: 43px;
            display: flex;
            align-items: center;
            font-style: italic;
            line-height: 2em;
            color: #555;
            letter-spacing: 1.1px;

            &+.title {
                margin-top: 63px;
            }

            img {
                width: 86px;
                margin-right: 45px;
            }
        }

        .symptoms {
            position: relative;
            height: 784px;
            margin-top: 60px;


            &__item {
                position: absolute;
                width: 460px;
                display: flex;
                line-height: 1.7em;
                display: flex;
                align-items: center;
                p {
                    // margin-top: -12px;
                }
                .hexagon {
                    // background: -webkit-linear-gradient(300deg, #aebcbf 0%, #6e7774 50%, #333 61%, #333 100%);
                    // background: red;//linear-gradient(150deg, #aebcbf 0%,#6e7774 50%,#333 61%,#333 100%);
                    background: $c-turquoise;
                    min-width: 120px;
                    height: 120px;
                    margin-top: 7px;
                    color: #222;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    &>div {
                        position: relative;
                        z-index: 1;
                        text-align: center;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    b {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        font-size: 32px;
                        color: #eaf0f0;
                        font-family: 'circe';

                    }



                    // display: block;
                    position: relative;
                    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
                    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
                    -webkit-clip-path: url(#hexagon-clip);
                    clip-path: url(#hexagon-clip);
                    // -webkit-transition: all 0.2s ease-in;
                    // transition: all 0.2s ease-in;
                    margin: 0 auto;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 3%;
                        left: 3%;
                        right: 3%;
                        bottom: 3%;
                        margin: 0 auto;
                        background: #f9fafc; //url(http://karenmenezes.com/shapes-polygon/bg-cubes.png);
                        -webkit-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
                        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
                        -webkit-clip-path: url(#hexagon-clip);
                        clip-path: url(#hexagon-clip);
                        z-index: -1;
                    }
                }

                &:nth-child(1) {
                    right: 122px;
                    top: -4px;

                    .hexagon {
                        min-width: 117px;
                        height: 112px;
                        margin-right: 20px;
                        
                        color: #fff;

                        &> div {
                            font-size: 12px;
                        }

                        b {
                            font-size: 68px;
                            color: #00b2aa;
                            line-height: 0.9em;
                        }

                        &:after {
                            background: $c-turquoise;
                        }
                    }
                }

                &:nth-child(2) {
                    top: 53px;
                    right: 567px;
                    width: 474px;

                    .hexagon {
                        margin-left: 20px;
                        min-width: 150px;
                        height: 150px;
                    }

                    b {
                        font-size: 98px;
                        line-height: 0.6em;
                        color: #ebeff0;
                    }
                }

                &:nth-child(3) {
                    top: 201px;
                    right: 281px;
                    width: 506px;

                    .hexagon {
                        margin-left: 20px;
                        min-width: 160px;
                        height: 160px;
                        margin-right: 30px;
                    }

                    b {
                        font-size: 104px;
                        line-height: 0.6em;
                        color: #ebeff0;
                    }
                }

                &:nth-child(4) {
                    top: 286px;
                    right: 721px;
                    width: 568px;

                    .hexagon {
                        margin-left: 20px;
                        min-width: 215px;
                        height: 215px;
                        margin-right: 30px;
                        &:after {
                            top: 2%;
                            left: 2%;
                            right: 2%;
                            bottom: 2%;
                        }
                    }

                    &>div {
                        font-size: 24px;
                    }

                    b {
                        width: 80px;
                        font-size: 148px;
                        line-height: 0.5em;
                        color: #ebeff0;
                    }
                }

                &:nth-child(5) {
                    top: 436px;
                    right: 327px;
                    width: 450px;

                    .hexagon {
                        min-width: 125px;
                        height: 125px;
                        margin-right: 28px;
                    }


                    &>div {
                        font-size: 13px;
                    }

                    b {
                        width: 80px;
                        font-size: 78px;
                        line-height: 0.8em;
                        color: #ebeff0;
                    }
                }

                &:nth-child(6) {
                    top: 567px;
                    right: 671px;
                    width: 484px;

                    .hexagon {
                        min-width: 160px;
                        height: 160px;
                        margin-left: 20px;
                    }

                    &>div {
                        font-size: 17px;
                    }

                    b {
                        width: 80px;
                        font-size: 102px;
                        line-height: 0.6em;
                        color: #ebeff0;
                    }
                }
            }
        }

        .notises-slider {
            width: 100%;
            margin-top: 42px;
            // margin-bottom: 60px;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 71px;

            &+.title {
                margin-top: 87px;
            }

            .slick-slide {
                display: flex;
                flex-wrap: wrap;
            }

            .notice-item {
                display: flex;
                width: calc(100%/2 - 0px);
                margin-bottom: 20px;
                padding-right: 30px;

                &:nth-child(even) {
                    .notice-item--img {
                        img {
                            width: 90px;
                        }
                    }
                }

                &--img {
                    background: $c-turquoise;

                    width: 182px;
                    height: 144px;
                    min-width: 182px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    margin-right: 18px;

                    img {
                        width: 80px;
                    }
                }

                &--title {
                    font-size: 24px;
                }

                &--descr {
                    margin-top: 13px;
                    line-height: 1.7em;
                    font-size: 16px;
                }

                .more-link {
                    margin-top: 13px;
                }
            }

            .slick-dots {
                display: flex;
                justify-content: center;

                position: absolute;
                margin: auto;
                width: 500px;
                left: 0;
                right: 0;
                bottom: -30px;

                li {
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.slick-active {
                        button {
                            background: $c-turquoise;
                        }
                    }

                    button {
                        cursor: pointer;
                        outline: none;
                        border-radius: 100%;
                        width: 10px;
                        height: 10px;
                        font-size: 0;
                        border: none;
                        background: #f3f3f3;
                    }
                }
            }
        }

        .subtitle {
            width: 50%;
            margin: 23px auto 0;
            line-height: 2em;
            font-size: 14px;
        }

        .influence-list {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__item {
                width: calc(100%/2 - 10px);
                margin-bottom: 20px;
                border: 4px solid #f3f3f3;
                padding: 0px 30px 0px 14px;
                display: flex;
                align-items: center;
                position: relative;

                span {
                    min-width: 125px;
                    color: #f3f3f3;
                    font-size: 112px;
                    margin-right: 17px;
                    font-family: 'circe';
                    // line-height: 1.65em;
                    display: inline-block;
                    position: relative;
                    top: 8px;
                    text-align: center;

                    b {
                        color: $c-turquoise;
                    }
                }

                p {
                    line-height: 2em;
                    font-size: 14px;
                }

                &--line {
                    position: absolute;
                    opacity: 0.3;

                    &.first {
                        left: -5px;
                        top: -5px;
                        border-left: 4px solid $c-turquoise;
                        border-top: 4px solid $c-turquoise;
                        width: 120px;
                        height: 71px;
                    }

                    &.last {
                        bottom: -5px;
                        right: -5px;
                        border-right: 4px solid $c-turquoise;
                        border-bottom: 4px solid $c-turquoise;
                        width: 181px;
                        height: 119px;
                    }
                }
            }
        }
    }
}