@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "modal.scss";
@import "home-page.scss";
@import "about-page.scss";
@import "products-page.scss";
@import "contacts-page.scss";
@import "themes.scss";


body {
    font-family: "AvantGardeCTT", sans-serif;
}

.container {
    width: 100%;
    max-width: 1390px;
    min-width: 300px;
    margin: auto;
    padding: 0 40px;

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

main {
    min-height: calc(100% - 215px);
    padding-top: 100px;
    padding-bottom: 70px;
    // @media screen and (max-width: 1024px) {
    //   padding-top: 80px;
    // }
    // @media screen and (max-width: 768px) {
    //   padding-top: 60px;
    // }
}

.main-title {
    font-size: 144px;
    color: #454545;
    letter-spacing: 17px;
    text-align: center;
    font-weight: 600;
    line-height: 130px;
    font-family: 'AvenirLTStd';
}

.main-subtitle {
    text-align: center;
    font-size: 26px;
    margin-top: 12px;
}

.title {
    text-align: center;
    font-size: 48px;
    color: #454545;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-top: 40px;

    &[data-animate="true"] {
        b {
            animation: scaleIn 1.5s;
            animation-fill-mode: forwards;
        }
    }

    // font-family: 'RALEWAY';
    b {
        opacity: 0;
        visibility: hidden;
        display: block;
    }
    span {
        height: 3px;
        width: 90px;
        background: $c-turquoise;
        position: relative;
        margin: 20px auto 0;
        display: block;
       

        &:after,
        &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            left: 0;
            right: 0;
            margin: -3px auto 0;
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #fff;
            border-width: 12px;
        }

        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-top-color: $c-turquoise;
            border-width: 16px;
        }
    }
}

.slick-slide {
    outline: none;
}

.text-slider {

    padding: 53px 215px 49px 215px;
    border: 15px solid #f3f3f3;
    position: relative;

    &:after {
        content: "“";
        position: absolute;
        font-family: georgia;
        transform: rotate(180deg);
        background: #fff;
        padding: 5px;
        right: 120px;
        bottom: 13px;
        font-size: 190px;
        color: $c-turquoise;
        line-height: 0.8em;
        height: 50px;
        transform-origin: bottom;
    }

    .slick-slide {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        line-height: 1.7em;
        letter-spacing: 0.1px;

        p {
            &+p {
                margin-top: 30px;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 26px;

        li {
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.slick-active {
                button {
                    background: $c-turquoise;
                }
            }

            button {
                cursor: pointer;
                outline: none;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                font-size: 0;
                border: none;
                background: #f3f3f3;
            }
        }
    }

}

[data-animate] {
    animation-fill-mode: forwards!important;
}


@keyframes scaleIn {
    from {
        transform: scale(0.6) translateY(60px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: scale(1) translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}


// @keyframes slideinDown {
//     from {
//         transform: translateY(-100%);
//         opacity: 0;
//         visibility: hidden;
//     }

//     to {
//         transform: translateY(0);
//         opacity: 1;
//         visibility: visible;
//     }
// }

// @keyframes slideinUp {
//     from {
//         transform: translateY(100%);
//         opacity: 0;
//         visibility: hidden;
//     }

//     to {
//         transform: translateY(0);
//         opacity: 1;
//         visibility: visible;
//     }
// }

@keyframes slideinRight {
    from {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

// @keyframes slideinDiagonal {
//     from {
//         transform: translate(-200%, -200%);
//         opacity: 0;
//         visibility: hidden;
//     }

//     to {
//         transform: translate(0, 0);
//         opacity: 1;
//         visibility: visible;
//     }
// }